<!-- 
                        <li class="nav-item">
                            <a class="nav-link anchor active" href="#slide">Home </a>
                        </li> 
                    -->

<a class="nav-link dropdown-toggle" href="#">Brands</a>
<ul class="submenu">
    <li>
        <a href="/brands/Zeiss" class="dropdown-toggle">Zeiss</a>
        <ul class="subsubmenu">
            <li><a href="/brands/Zeiss#designs">Office</a></li>
            <li><a href="/brands/Zeiss#designs">Driving</a></li>
            <li><a href="/brands/Zeiss#designs">Computer</a></li>
            <li><a href="/brands/Zeiss#designs">Progressive</a></li>
        </ul>
    </li>
    <li>
        <a href="/brands/LTL" class="dropdown-toggle">LTL</a>
        <ul class="subsubmenu">
            <li><a href="/brands/LTL#designs">Office</a></li>
            <li><a href="/brands/LTL#designs">Driving</a></li>
            <li><a href="/brands/LTL#designs">Computer</a></li>
            <li><a href="/brands/LTL#designs">Progressive</a></li>
        </ul>
    </li>
    <li>
        <a href="/brands/Divel" class="dropdown-toggle">Divel</a>
        <ul class="subsubmenu">
            <li><a href="/brands/Divel#designs">Office</a></li>
            <li><a href="/brands/Divel#designs">Driving</a></li>
            <li><a href="/brands/Divel#designs">Computer</a></li>
            <li><a href="/brands/Divel#designs">Progressive</a></li>
        </ul>
    </li>
    <li>
        <a href="/brands/Roger_Bacon" class="dropdown-toggle">Roger Bacon</a>
        <ul class="subsubmenu">
            <li><a href="/brands/Zeiss#designs">Office</a></li>
            <li><a href="/brands/LTL#designs">Driving</a></li>
            <li><a href="/brands/Divel#designs">Computer</a></li>
            <li><a href="/brands/Roger_Bacon#designs">Progressive</a></li>
        </ul>
    </li>
</ul>