<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/coming-soon/images/horizon/logoIcon.png">
    <link rel="stylesheet" href="/assets/coming-soon/css/new.style.css">

    <style>
        body {
            font-family: "Josefin Sans", sans-serif;
            overflow: hidden;
            /* background-color: rgb(24, 23, 23); */
            background-color: black;
            color: white;
        }

        .container {
            padding-left: 100px;
            overflow: hidden;
            background-image: url('../images/horizon/1.JPG');
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container-item {
            margin: auto;
        }

        .logo {
            margin: 0 0 3rem 0;
        }
    </style>


    <title>404 Not Found</title>

</head>

<body>

    <body>
        <div class="container">
            <div class="container-item">
                <main class="main">
                    <div class="main__details">
                        <!-- <img
              class="main__details-img"
              src="./images/horizon/IMG_0470.jpg.JPG"
              alt=""
            /> -->
                        <img src="/assets/coming-soon/images/horizon/HLogoW.png" width="200px" alt="Logo"
                            class="logo" />
                        <h1 class="main__heading">
                            <!-- <span class="main__heading-colored"></span><br /> -->
                            404 <br>
                            Not <br>
                            Found
                        </h1>

                        <p class="main__paragraph">
                            Go back to the main page...
                            <b><a href="https://beta.horizon-lenses.com" style="color: #E2B55D"
                                    class="btn btn-primary">Horizon</a></b>
                        </p>
                    </div>


                    <div class="main__img-container">
                        <img src="./assets/coming-soon/images/horizon/1-2.JPG" alt="" class="main__img" />
                    </div>
                </main>
            </div>
        </div>

    </body>

</html>